.wrapper {
  max-width: 85vw;
  margin-top: 40px;
  text-align: center;
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  border-radius: 5px;
}
.bg-dark {
  background-color: #001524;
  color: #f4f5f5;
}
.bg-light {
  background-color: #f4f5f5;
  color: #001524;
}

.grid-class {
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 20px;
}

.buttonPos {
  grid-area: 1/2/2/3;
  justify-self: end;
  align-self: start;
}
